.mybutton {
    color: yellow;
    background-color: red;
    border: 4px yellow solid; 
    position: absolute;
    height: 50px;
    width: 150px;
    top: 600;
    left: 600;
    z-index: 3;
  }
.mybutton2 {
    color: yellow;
    background-color: red;
    border: 4px yellow solid; 
    position: absolute;
    height: 50px;
    width: 150px;
    top: 600;
    left: 800;
    z-index: 6;
  }